/* Reset CSS for all browsers */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	border: 0;
	font-size: 100%;
	font: inherit;
	padding: 0;
	margin: 0;
	vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

.header-styling {
  background-color: pink;
}

.logotype {
  height: auto;
	width: 30%;
}

.card {
	height: 256px;
  min-width: 256px;
}

.card-side img {
	width: 100%;
  /* min-width: 215px; */
}

h1 {
	color: #2effc3;
  font-family: ‘Josefin Sans’, verdana;
	font-weight: 300;
  font-size: 70px;
	padding: 1% 0px 1% 10%;
	margin: 5% 10% 0px 0px;
  text-align:left;
	background-color: #ffff76;
}

h2 {
	color: white;
  font-family: ‘Josefin Sans’, verdana;
	font-weight: 300;
  font-size: 50px;
	margin: 5px 0px 0px 30%;
	padding: 1% 5% 1% 0px;
  text-align:right;
	background-color: #2effc3;
}

h3 {
	color: pink;
  font-family: ‘Josefin Sans’, verdana;
	font-weight: 300;
  font-size: 25px;
	margin: 5px 0px 5% 60%;
	padding: 1% 5% 1% 0px;
  text-align:right;
	background-color: #2effc3;
}


h5 {
	color: yellow;
	font-family: verdana;
	font-size: 20px;
	margin-bottom: 10px;
}

#back-color1 {
	background-color: #000075;
}

#back-color2 {
	background-color: #2effc3;
}

#back-color9 {
	background-color: #ffff76;
}

#back-color11 {
	background-color: #aa61ff;
}

#back-color15 {
	background-color: #49e003;
}

#back-color17 {
	background-color: #fc56ce;
}

#back-color18 {
	background-color: #ffce00;
}

#back-color20 {
	background-color: #ff5555;
}



/* Flip funktion */

.cards-collection {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
	margin-left: 20px;
  margin-right: 20px;
}

.card {
   perspective: 800px;
   position: relative;
}

.card.is-switched-once>.card-wrapper {
	animation: rotate-inverse 1s ease-out both;
}

.card.is-switched>.card-wrapper {
  animation: rotate 1s ease-out both;
}

.card>.card-wrapper {
	transform-style: preserve-3d;
	height: 256px;
}

.card-side {
  backface-visibility: hidden;
	height: 100%;
  position: absolute;
	left: 0;
  top: 0;
  width: 100%;

}


.card.is-switched>.card-wrapper>.card-side:first-child {
  position: static;
}


.card-side-back {
  transform: rotateY(180deg);
	width: 100%;
}



.footer {
	background-color: #7c7c93;
	padding: 50px;
}

.footer-section {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.footer-section-box {
	width: calc(50% - 20px);
	margin: 20px;
}

.footer-section a {
	font-family: verdana;
	font-size: 14px;
	font-weight: 200;
	color: white;
	text-decoration: none;
}

.footer-section ul {
	list-style: none;
}

.footer-section a:hover {
    /* text-decoration: underline; */
		border-bottom: 2px solid white;
		transition-delay: 0.3s;
}

.contact-icons {
	text-align: center;
}

.contact-icons img {
	width: 3%;
	height: 3%;
}

.contact-icons p {
	font-family: verdana;
	font-size: 12px;
	font-weight: 200;
	color: yellow;
	text-decoration: none;
}

@keyframes rotate {
  0% {
    transform: rotateY(0);
  }
  70% {
    transform: rotateY(200deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}

@keyframes rotate-inverse {
  0% {
    transform: rotateY(180deg);
  }
  70% {
    transform: rotateY(-20deg);
  }
  100% {
    transform: rotateY(0);
  }
}

/* Tablet-size */

@media (min-width: 600px) and (max-width: 899px){
  .card {
    width: 33.33%;
  }
  .card {
    justify-content: flex-start;
  }
	.footer-section-box {
		width: calc(33.33% - 20px);
	}
}
/* Desktop-size */

@media (min-width: 900px) {
  .card {
    width: 20%;
  }
	.footer-section-box {
		width: 25%;
	}
}
